node_modules
dist
.DS_Store
*.local
.vite
.cargo
.secrets

# Docker
.env

# Tauri
src-tauri/target/
src-tauri/gen/schemas/

# Logs
*.log

# Misc
.tmp/
.storage/
auth_storage/

# opensrc - source code for packages
opensrc/
